@model List<cinco.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    Nuevo Cliente
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Nombre</td>
                <td>@c.Documento</td>
                <td>@c.Telefono</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.Id" class="btn btn-sm btn-warning">
                        Editar
                    </a>

                    <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-sm btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
